<div class="card" style="width: 18rem">
    <form class="form-inline" [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="card-body">
            <div class="form-group mx-sm-3 mb-2">
                <h6>Assignee</h6>
                <input type="text" class="form-control" id="input_assignee" placeholder="assignee.."
                    formControlName="assignee">
                <div *ngIf="addForm.get('assignee').hasError('pattern')" class="error">
                    Assignee has invalid characters
                </div>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <h6>Description</h6><input type="text" class="form-control" id="input_description"
                    placeholder="description/task.." formControlName="description">
                <div *ngIf="addForm.get('description').hasError('pattern')" class="error">
                    Description has invalid characters
                </div>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <h6>Project name</h6>
                <input type="text" class="form-control" id="input_project" placeholder="project name.."
                    formControlName="project">
                <div *ngIf="addForm.get('project').hasError('pattern')" class="error">
                    Project name has invalid characters
                </div>

            </div>

            <hr class="solid" />

            <div class="form-group mx-sm-3 mb-2">
                <h6>Jira Link :</h6> <input type="text" class="form-control" id="input_link" placeholder="link.."
                    formControlName="link">
                <div *ngIf="addForm.get('link').hasError('pattern')" class="error">
                    Jira Link has invalid characters
                </div>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <h6>Estimate Time :</h6> <input type="text" class="form-control" id="input_estimate_time"
                    placeholder="0" formControlName="estimate">
                <div *ngIf="addForm.get('estimate').hasError('pattern')" class="error">
                    Estimate Time should be number.
                </div>

            </div>

            <div class="form-group mx-sm-3 mb-2">
                <h6>Actual Time :</h6> <input type="text" class="form-control" id="input_actual_time" placeholder="0"
                    formControlName="actual">
                <div *ngIf="addForm.get('actual').hasError('pattern')" class="error">
                    Actual Time should be number.
                </div>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <h6>Billable Time :</h6> <input type="text" class="form-control" id="input_billable_time"
                    placeholder="0" formControlName="billable">
                <div *ngIf="addForm.get('billable').hasError('pattern')" class="error">
                    Billable Time should be number.
                </div>
            </div>

            <button class="btn mb-2">Cancel</button>
            <button [disabled]="addForm.status === 'INVALID'" type="submit" (onClick)="onSubmit()">Submit</button>
            <p> {{ card | json}}</p>
        </div>

    </form>




</div>