<div class="card">
    <form class="form-inline" [formGroup]="addCard" (ngSubmit)="onSubmit()">
        <div>

            <span class="close head" title="Exit" (click)=" updateComplete() ">&times;</span>
        </div>
        <div class="card-body" style="border: none;">
            <h6>Create Card :</h6>
            <div class="card ">
                <div class="card-body inner">
                    <p class="assignment">Assignment</p>
                    <div class="form-group mx-sm-3 mb-2">

                        <div>
                            <select class="form-control" id="input_assignment_id" formControlName="assignmentId"
                                placeholder="choose your assignment">
                                <option [ngValue]="null">choose your assignment</option>
                                <option *ngFor=" let c of rAssignmentList" value="{{ c.assignmentId }}">
                                    {{ c.assignmentName }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group mx-sm-3 mb-2">
                        <div>Card </div>

                        <input type="text" class="form-control" id="input_card_name" placeholder="type your card..."
                            formControlName="cardName" />
                        <div *ngIf="addCard.get('cardName').hasError('pattern')" class="error">
                            Card name has invalid characters.
                        </div>
                        <p>Actual Time</p>
                        <br>

                        <input type="number" class="form-control" id="input_actual_time" placeholder="0"
                            formControlName="actualTime" />
                        <div *ngIf="addCard.get('actualTime').errors.max || addCard.get('actualTime').errors.min"
                            class="error">
                            Actual time must be 1 to 24.
                        </div>
                        <div *ngIf="addCard.get('actualTime').errors.pattern" class="error">
                            Invalid actual time.
                        </div>


                    </div>

                    <button [disabled]="addCard.status === 'INVALID'" type="submit" class="btn btn-primary"
                        (onClick)="onSubmit()">Submit</button>
                </div>
            </div>


        </div>
    </form>
    <div>
        <div>
            <h6 class="card-list">Card List :</h6>
        </div>

        <div class="form-group mx-sm-3 mb-2 d-flex">

            <div *ngFor="let c of cardsData">
                <div class="card list" *ngFor="let i of c.card">
                    <p class="bold">Card name : </p>
                    <div class="card-body">
                        {{ i.cardName }}
                    </div>
                    <p class="bold">Assignment name : </p>
                    <div class="card-body">
                        {{ i.assignmentName }}
                    </div>
                    <span class="close" (click)="updateDeleteStatus(i.cardId)" title="Delete Card">&times;</span>
                    <form [formGroup]="editCard" (keydown)="keyDownFunction($event,i.cardId)">

                        <input type="number" class="form-control" id="input_card_actual_time" maxlength="2"
                            placeholder="{{i.actualTime}}" formControlName="cardActualTime" />

                        <div *ngIf="editCard.get('cardActualTime').errors.max || editCard.get('cardActualTime').errors.min"
                            class="error">
                            Actual time must be 1 to 24.
                        </div>
                        <div *ngIf="editCard.get('cardActualTime').errors.pattern" class="error">
                            Invalid actual time.
                        </div>

                        <button class="btn btn-primary bottom" [disabled]="editCard.status === 'INVALID'"
                            (click)="updateFunction(i.cardId)">Update</button>
                    </form>
                </div>


                <div *ngIf="c.card.length > 0">
                    <button class="btn btn-primary complete" (click)="updateComplete()">Update Complete</button>
                </div>
                <div *ngIf="c.card.length <= 0">
                    Don't have card.
                </div>

            </div>
        </div>
    </div>
</div>