.close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  transform: translate(0%, -50%);
}
#input_card_name {
  margin-left: 3%;
  width: 59%;
  margin-right: 4%;
}
.closemodal-bold {
  font-weight: bolder;

}

.bold {

  font-weight: bolder;
  margin-bottom: 10px;
  display: inline-flex;
  padding-left: 46px;
}
button.calendar,
button.calendar:active {
  width: 2.5rem;
  height: 2rem;
  align-self: center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 27px;
  box-sizing: 2px;
  border: 2px solid #ced4da;
  background-position: center;

}
.btn-group{
  height: 2.5rem;
  width: 28rem;
}

.closemodal {
  background: white;
  top: 8px;
  right: 12px;
  cursor: pointer;
  position: absolute;
  border: none;
  font-size: 20px;
}

.btn-closemodal{
   display: inline-block;
    width: auto;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    border-width: 1px;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-outline-dark{
  width: auto !important;
}

.btn-outline-primary{
width: auto !important;
}
.btn {
  border: 1px solid #ced4da;
  width: 80%;
  margin-left: 6%;
}
.input_assignment_id

#input_estimate_time {
  margin-left: 0%;
}

#input_card_actual_time {
  width: 20%;
  display: inline;
}

.date-txt{
  padding-left: 4%;
  margin-right: 80%;
  font-weight: bold;
  font-size: 1em;
}
.txt.estiamtetime{
  margin-left: 31%;
    font-weight: bold;
    font-size: 1em;
}

.assignment {
  font-weight: bold;
  font-size: 1em;
  margin-left: 7%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

}
.card-body {
  padding: 0.5rem;
}

.bottom {
  right: 0%;
  margin-left: 9rem;
  margin-bottom: 1.5%;
  margin-top: 6%;
  width: 37%;
}
.card-list {
  width: 100%;
}
.todate{
margin-left: 1.5rem;
}
.border-datepicker{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.card-list-header {
  margin-left: 6%;
}
input{
  height: 2.3rem;
}

.input_assignment_id {
  margin-left: 7%;
  width: 83%;
  padding-left: 0%;
}

/* .input_assignment_id:hover {
  background-color: rgb(222, 241, 241);
} */
.input_date_group{
  width: 9rem;
}
.form-control {
  box-shadow: 0px 4px 8px rgba(69, 69, 67, 0.14);
  border: none;
}

.inner {
  padding: 0;
  padding-bottom: 4%;
}

.p {
  margin-bottom: 0;
}

.list {
  margin-top: 2%;
  box-shadow: 0px 4px 8px rgba(69, 69, 67, 0.14);
  border: none;
}
.bg{
  background-color: #d1c8c8;
}

.opacity{
  opacity: 0.6;
}

.complete {
  width: 100%;
  margin-left: 0;
  margin-top: 5%;
}
.txt.actualtime {
  margin-left: 22%;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;

}

.txt.actualtimetop {
  padding-left: 0%;
  margin-left: 0;
    font-weight: bold;
    font-size: 1em;

}
.txt.cardd {
  font-weight: bold;
  font-size: 1em;
  margin-left: 4%;
}
.card-name{
  font-weight: bolder;

}
.listt {
  padding: 0%;
  font-weight: 400;
}

.ml{
  display: inline-block;
    width: 7rem;
    margin-bottom: 0rem;
  margin-left: 21%;
}
.max-hour-error{
  color: red;
}
.error {
  color: red;
  margin-left: 3rem;
}
.opacity{
  opacity: 0.6;
}

.btn-width{
  width: auto;
}

.editInput {
  display: inline-block;
    margin-left: 30%;
    width: 7rem;
}

.editbtn {
  display: inline-block;
    margin-left: -1rem;
    margin-bottom: 0;
    margin-top: 1.57rem;
    width: 8rem;
    height: 2.5rem;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  height: 30px;
  line-height: 45px;
}
.closemodal:hover{
  cursor: pointer;
}
