<div class="card">
    <form class="form-inline" [formGroup]="addCard" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="form-group mx-sm-3 mb-2">
                <div>
                    <h6>Assignment</h6>
                    <span class="close head" title="Exit" (click)="close()">&times;</span>
                </div>
                <div>
                    <select class="form-control" id="input_assignment_id" formControlName="assignmentId"
                        placeholder="choose your assignment">
                        <option></option>
                        <option *ngFor="let c of rAssignmentList" value="{{ c.assignmentId }}">
                            {{ c.assignmentName }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <h6>Card</h6>

                <input type="text" class="form-control" id="input_card_name" placeholder="type your card..."
                    formControlName="cardName" />
                <div *ngIf="addCard.get('cardName').hasError('pattern')" class="error">
                    cardName has invalid characters.
                </div>

                <input type="number" class="form-control" id="input_actual_time" placeholder="0"
                    formControlName="actualTime" />
                <div *ngIf="addCard.get('actualTime').hasError('pattern')" class="error">
                    invalid actual time.
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (onClick)="onSubmit()">Submit</button>

        </div>
    </form>
    <div>
        <div>
            <h6 class="card-list">Card List :</h6>
        </div>

        <div class="form-group mx-sm-3 mb-2 d-flex">

            <div *ngFor="let c of cardsData">
                <div class="card" *ngFor="let i of c.card">
                    <div class="card-body">
                        {{ i.cardName }}
                    </div>
                    <span class="close" (click)="updateDeleteStatus(i.cardId)" title="Delete Card">&times;</span>
                    <form [formGroup]="editCard" (keydown)="keyDownFunction($event,i.cardId)">

                        <input type="number" class="form-control" id="input_card_actual_time" [value]="cardNumber"
                        (keyup)="onKey($event)" formControlName="cardActualTime" />
                        <button class="btn btn-primary bottom" (click)="updateFunction(i.cardId)">update</button>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>
