<div class="form-group">
  <label for="search-text" style="font-weight: bold">Assignment</label>
  <input
    type="text"
    class="form-control"
    id="search-text"
    [(ngModel)]="searchText"
    placeholder="Assignment"
  />
</div>

<select class="form-control" [(ngModel)]="completedStatusCheck">
  <option [ngValue]="undefined">All</option>
  <option [ngValue]="true">Done</option>
  <option [ngValue]="false">Undone</option>
</select>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div
      class="card"
      *ngFor="
        let assignment of assignments
          | completedstatusFilter: completedStatusCheck
          | assignmentFilter: searchText
      "
    >
      <div class="card-body">
        <p class="card-text">
          <i class="material-icons">ic_check_circle_48px</i>
          {{ assignment.assignmentName }}
        </p>
        <h6 class="project-name">
          {{ assignment.projectId }}
        </h6>
        <hr class="solid" />

        <div class="d-flex">
          <p class="d-flex">
            <i class="material-icons">ic_monetization_on_48px</i>
            <!-- Billable Time: -->
            <span> {{ assignment.billableTime }} Hrs </span>
          </p>

          <p class="d-flex">
            <i class="material-icons">ic_query_builder_48px</i>
            <!-- Estimate Time: -->
            <span>{{ assignment.estimateTime }} Hrs</span>
          </p>

          <p class="d-flex">
            <i class="material-icons">ic_watch_later_48px</i>
            <!-- Actual Time: -->
            {{ assignment.actualTime }} Hrs
          </p>
        </div>
      </div>
    </div>
  </li>
</ul>
