<div for="search-text" class="assignment-header">Assignment</div>
<div class="assignment-part">
  <div class="assignmentsearch">
    <div class="form-group">
      <input type="text" class="form-control" id="search-text" [(ngModel)]="assignmentsearchText"
        placeholder="All Assignment" />
    </div>

    <select class="form-control" [(ngModel)]="completedStatusCheck">
      <option [ngValue]="undefined">All</option>
      <option [ngValue]="true">Done</option>
      <option [ngValue]="false">Undone</option>
    </select>
  </div>

  <ng-template #content let-modal>
    <app-assignment-form (submitCompleted)="close()"></app-assignment-form>
  </ng-template>
  <button (click)="open(content)" class="btn btn-lg me-btn-add">
    + assignment
  </button>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="card" *ngFor="
          let r of result
            | completedstatusFilter: completedStatusCheck
            | assignmentFilter: assignmentsearchText
        ">
        <div class="card-body">
          <p class="card-text text" style="font-weight: bold; ">
            <i class="material-icons md-18" title="{{r.completedStatus | titlecompletedStatusPipe}}" (click)="toggle(r.assignmentId,r.completedStatus)"
              [ngStyle]="{ color:  r.completedStatus  | colorcompletedStatusPipe :  r.completedStatus   }">ic_check_circle</i>
            {{ r.assignmentName }}
            <span class="close" (click)="updateDeleteStatus(r.assignmentId)">&times;</span>

          </p>


          <hr class="solid" />

          <div class="d-flex" title="billable time">
            <div class="d-flex">
              <i class="material-icons md-18">ic_monetization_on</i>
              <p>
                <!-- Billable Time: -->
                {{ r.billableTime }} Hrs
              </p>
            </div>

            <div class="d-flex" title="estimate time">
              <i class="material-icons md-18">ic_query_builder</i>
              <p>
                <!-- Estimate Time: -->
                {{ r.estimateTime }} Hrs
              </p>
            </div>

            <div class="d-flex" title="actual time">
              <i class="material-icons md-18">ic_watch_later</i>
              <p>
                <!-- Actual Time: -->
                {{ r.actualTime }} Hrs
              </p>
              <p (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse">
                <i class="material-icons md-18 cursor">ic_expand_more</i>
              </p>
            </div>

          </div>
          <div id="collapse" [ngbCollapse]="isCollapsed">
            <div class="card childCard" *ngFor="let co of r['cardObj']">
              <div class="card-body">
                <div class="d-flex">
                  <p>Card : {{ co.cardName }}</p>
                  <p>Date :{{ co.cardDate | date: "dd/MM/yyyy" }}</p>
                  <p>Actual Time : {{ co.cardActualTime }} Hrs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>