<!-- <div class="form-group">
  <label for="search-text">Search Text</label>
  <input
    type="text"
    class="form-control"
    id="search-text"
    [(ngModel)]="searchText"
    placeholder="Enter text to search"
  />
</div> -->

<!-- <button (click)="addCard()" class="add-button">Add Card</button> -->

<!-- <div class="list-group list-group-flush"></div> -->
<div *ngFor="let c of cards | appFilter: searchText">
  <div class="card">
    <div class="card-body">
      <p class="card-title">
        <i class="material-icons">ic_account_circle</i>
        {{ c.name }}
      </p>
      <p class="card-text">
        {{ c.taskName }}
      </p>
      <p class="project-name">project name: {{ c.projectName }}</p>
      <hr class="solid" />

      <p>
        <i class="material-icons">ic_insert_link</i>Jira Link :<a target="_blank" [href]="c.referenceLink">Link
        </a>
      </p>
      <p>
        <i class="fa fa-clock-o"></i>
        Estimate Time : {{ c.estimateTime }} Hrs
      </p>
      <p>
        <i class="far fa-check-circle"></i>Actual Time :
        {{ c.actualTime }} Hrs
      </p>
      <p>
        <i class="fas fa-money-bill-wave"></i>
        Billable Time : {{ c.billableTime }} Hrs
      </p>
    </div>
  </div>
</div>
<!-- </div> -->