<div class="form-group">
  <label for="search-text">Search Text</label>
  <input
    type="text"
    class="form-control"
    id="search-text"
    [(ngModel)]="searchText"
    placeholder="Enter text to search"
  />
</div>

<ng-template #content let-modal>
  <app-card-form (cardChange)="getAll()"></app-card-form>
</ng-template>

<button (click)="open(content)" class="add-button">Add Card</button>

<ul class="list-group list-group-flush">
  <li
    class="list-group-item"
    *ngFor="let c of cardResponse | appFilter: searchText"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <i class="material-icons">person_pin</i>
          {{ c.assignee }}
        </h5>
        <p class="card-text">
          {{ c.taskName }}
        </p>
        <h6 class="project-name">project name: {{ c.projectName }}</h6>
        <hr class="solid" />

        <h6>
          <i class="fa fa-chain"></i>Jira Link :<a
            target="_blank"
            [href]="c.referenceLink"
            >Link
          </a>
        </h6>
        <h6>
          <i class="fa fa-clock-o"></i>
          Estimate Time : {{ c.estimateTime }} Hrs
        </h6>
        <h6>
          <i class="far fa-check-circle"></i>Actual Time :
          {{ c.actualTime }} Hrs
        </h6>
        <h6>
          <i class="fas fa-money-bill-wave"></i>
          Billable Time : {{ c.billableTime }} Hrs
        </h6>
      </div>
    </div>
  </li>
</ul>
