<span class="form-group">
  <label for="search-text" style="font-weight: bold">Available Time</label>
  <br />
  <input type="text" class="form-control" style="margin-right: 2vw" id="search-text" [(ngModel)]="searchText"
    placeholder="Assignment" />
</span>
<select class="form-control" [(ngModel)]="completedStatusCheck">
  <option [ngValue]="undefined">All</option>
  <option [ngValue]="true">Done</option>
  <option [ngValue]="false">Undone</option>
</select>
<select class="form-control" [(ngModel)]="completedStatusCheck">
  <option [ngValue]="undefined">All</option>
  <option [ngValue]="true">Done</option>
  <option [ngValue]="false">Undone</option>
</select>
<div class="row">
  <div class="col-lg-2 col-xl-2"></div>
  <div class="col-lg-10 col-xl-10" style="height: 25px; padding: 0%">
    <div class="d-flex bd-highlight mb-3" style="justify-content: space-around">
      <span class="color-box" *ngFor="let index of color">
        <div>
          {{ index }}
        </div>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xl-12" style="padding: 0%">
    <div class="ss" *ngFor="let r of result | nameFilter: searchText">
      <div class="card" style="width: 10rem">
        <div class="card-body">
          <div class="card-title">
            <i style="font-size: 12px" class="fas">&#xf2bd;</i>
            {{ r.fullName }}
          </div>
          <h6 class="position">{{ r.position }}</h6>
          <br />
          <p *ngFor="let index of r['skills']" class="card-text">
            <img style="width: 1rem;" src="{{index.iconPath }}" title="{{ index.skillName }}">
          </p>
        </div>
      </div>
      <div class="color-list" style="justify-content: space-around">
        <li class="color-box" *ngFor="let index of r['cards']" title="{{ index.cardDate }}"
          [ngStyle]=" { backgroundColor: index.totalActualTime | color }">
          <div class="text-in-box">
            {{ index.totalActualTime }}

          </div>
        </li>
      </div>
    </div>
  </div>
</div>