.container {
  display: contents;
  flex-direction: row;
  order: 6;
}
.cursor{
  cursor: pointer;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.big-color-box{
  justify-content: space-around;
  padding-left: 2.5%;
}
.available-time-header{
  font-size: 16px;
}
.color-box-list{
  width: 100%;
  justify-content: space-between;
  align-items: initial;
}
.top{
  margin-top: 1%;
}
.col-loading{
  align-items: center;
  height: 70%;
  justify-content: center;
}
.loading{
    width: 10vw;
    margin-top: 11rem;
    position: fixed;
}
.txt{
  margin-left: 10px;
}
.colr{
  width: 40%;
}

a {
  color: #0e0e0e;

  font-size: 35px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 50%;
}
.card-title {
  font-size: 13px;
  font-weight: 600;
  display: contents;
  margin-bottom: 12px;
}
.fas {
  margin-right: 2px;
  font-size: 12px
}
.person-lists{
  top: 13rem;
  overflow-y: scroll;
  height: 72vh;
  position: relative;
  padding: 0px 2rem;
}
.fixed-nav{
  width: 73vw;
  position: fixed;
  padding: 3.4rem 0px 25px 1rem;
  z-index: 1;
  background-color: white;
}



@media screen and  ( max-width: 1400px){
  .custom-button{
    width: 120px;
    font-size: smaller;
  }
  .dropdown-skill{
    position: absolute;
    top: 1px;
    right: 20px;
  }

  .color-box{
    border: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin: 0 4x;
    border-radius: 12%;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    width: 20px;
    height: 20px;
    align-self: center;
    justify-content: center;
    border: none;
    text-align: center;
  }
  .text-in-box {
    font-weight: bold;
    align-self: center;
    font-size: 11px;
  }
  .color-box-top{
    border: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin: 0 4x;
    border-radius: 12%;
    display: flex;
    cursor: pointer;
    background: #FFFFFF;
    flex-wrap: wrap;
    flex-direction: row;
    width: 20px;
    height: 20px;
    align-self: center;
    justify-content: center;
    border: 2px solid #439AF4;
    text-align: center;
  }
  .mock-color-box {
    border: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin: 0 4x;
    border-radius: 12%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 20px;
    height: 20px;
    align-self: center;
    justify-content: center;
    border: none;
    text-align: center;
  }
  .top-color-box {
    border: 0;
    margin: 0 4x;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 10px;
    height: 10px;
    align-self: center;
    font-size: 1px;
    display: flex;
    align-self: center;
  }
}

@media screen and  (min-width: 1400px) {

  .top-color-box {
    border: 0;
    margin: 0 4x;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30px;
    height: 30px;
    align-self: center;
    font-size: 12px;
    display: flex;
    align-self: center;
  }

  .mock-color-box {
    border: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin: 0 4x;
    border-radius: 12%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 35px;
    height: 35px;
    align-self: center;
    justify-content: center;
    border: none;
    text-align: center;
  }

  .text-in-box {
    font-weight: bold;
    align-self: center;
  }
  .color-box {
    border: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin: 0 4x;
    border-radius: 12%;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30px;
    height: 30px;
    align-self: center;
    justify-content: center;
    border: none;
    text-align: center;
  }
  .color-box-top {
    border: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin: 0 4x;
    border-radius: 12%;
    display: flex;
    cursor: pointer;
    background: #FFFFFF;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30px;
    height: 30px;
    align-self: center;
    justify-content: center;
    border: 2px solid #439AF4;
    text-align: center;
  }
}



.person-list {
  background-color: #f7f7f7;
}

.dropdown-skill:hover{
  background: rgb(222, 241, 241);
}



.form-control:hover{
  background: rgb(222, 241, 241);
}

.col-xl-10 {
  padding: 0%;
}
.position {
  display: inline;
  font-size: 8px;
  text-align: end;
  margin: 0%;
  opacity: 0.6;
}
.card-body {
  margin-right: 0;
  box-shadow: 0px 4px 8px rgba(69, 69, 67, 0.14);
  border-radius: 5px;
  padding: 0.2rem;
}
.card-text {
  display: contents;
  size: 20px;
}

.fab {
  margin-left: 2%;
}
.loading{
  justify-content: center;
}
.card {
  border: none;
  background-color: #FAFAFA;
  width: 100%;
}

.col .person-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.color-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 3.5%;
  padding-right: 1px;
}
.image-skills-size {
  width: 23px;
  margin-right: 8px;
}
.available-font{
  font-weight: bold;
  font-size: 16px;
}

.custom-button{
  border: none;
  box-shadow: 0px 4px 8px rgba(69, 69, 67, 0.14);
}
.dropdown-skill{
  justify-content: flex-end;
  justify-items: end;
  border-radius: 4px;
  justify-self: end;
}
.color-box-top:hover{
  background: rgb(222, 241, 241);
  opacity: 0.8;
}
.color-box:hover{
 background: #8c8787;
 opacity: 0.8;
}
