.container {
  display: contents;
  flex-direction: row;
  order: 6;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin: 0;
}

.form-control {
  display: inline;
  width: 10vw;
  height: 2.5vw;
  margin: 0%;
}

.card-title {
  font-size: 13px;
  font-weight: 600;
  display: contents;
  margin-bottom: 12px;
}
.fas {
  margin-right: 1%;
}
.color-box {
  display: flex;
  flex-direction: row;
  width: 28px;
  height: 30px;
  justify-content: center;
  border: none;
  text-align: center;
}
.position {
  display: inline;
  font-size: 10px;
  text-align: right;
  margin: 0%;
  opacity: 0.6;
}
.card-body {
  margin-right: 0;
  padding: 0.2rem;
}

.card-text {
  display: contents;
  size: 20px;
}

.text-in-box {
  font-weight: bold;
  align-self: center;
}
.fab {
  margin-left: 2%;
}
