<!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {{ assignment.assignmentName }}
                </p>
                <h6 class="project-name">project name: {{ assignment.projectName }}</h6>
                <hr class="solid" />

                <p>
                    <i class="fas fa-money-bill-wave"></i>
                    Billable Time : {{ assignment.billableTime }} Hrs
                </p>

                <p>
                    <i class="fa fa-clock-o"></i>
                    Estimate Time : {{ assignment.estimateTime }} Hrs
                </p>

                <p>
                    <i class="far fa-check-circle"></i>
                    Actual Time : {{ assignment.actualTime }} Hrs
                </p>

            </div>
        </div>
    </li>
</ul> -->