<div>
  <!-- <app-navbar> </app-navbar> -->

  <app-datepicker (dateChange)="collectDate($event)" [datep]="dateSent"></app-datepicker>

  <div class="row">
    <div class="col-lg-3 col-xl-3">
      <app-assignment-list (updateDelete)="setReload(true)" ></app-assignment-list>
      <div class="vl"></div>
    </div>
    <div class="col-lg-9 col-xl-9">
      <app-avaliable-time [(isReLoad)]="isReLoad" (dateChange)="collectDate($event)" (dateOnNextBack)="collectDateOnNextBack($event)"
        [date]="date"></app-avaliable-time>
    </div>
  </div>
</div>
